/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: black;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
} 
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
}
img {
  width: 100%;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 4rem;
}
.card-bg{
  width: 500px;
  margin: auto;
}
.card-bg .flex {
  flex-direction: column;
}
.card-bg .flex .card-item{
  align-self: flex-start;
}
.card-bg .flex > *:first-child {
  color: gray;
  font-size: 1rem;
}
.card-bg .flex > *:nth-child(2) {
  color: rgb(201, 200, 200);
  font-weight: bold;
}

.grid-3{
  grid-template-columns: repeat(3, 1fr);
}
.weeks {
  margin: 6rem auto;
}
.weeks h3 {
  text-align: center;
  font-size: 3rem;
}
.week .flex >*:first-child {
  color: #fff;
  margin-right: 2rem;
}
.week .flex >*:nth-child(2){
  color: #fff;
  margin-right: 0.3rem;
}
.week .flex >*:nth-child(3){
  align-self: flex-end;
  justify-self: flex-end;
  color: rgb(201, 200, 200);
  margin-right: 2rem;
}
.week-item {
  font-weight: bold;
  font-size: 1rem;
}
